#cerere{
        width: 21cm; /* Latimea paginii A4 */
        height: 29.7cm; /* Inaltimea paginii A4 */
        text-align: justify; /* Aliniere text justify */
}

#cerere h1{
        text-align: center; /* Aliniere text centrat */
        font-size: 1.5em; /* Marime font 1.5em */
        font-weight: bold; /* Font bold */
        text-transform: uppercase; /* Text uppercase */
        margin-bottom: 0.5em; /* Spatiere de 0.5em */
}

#subsemnat{
        margin-top: 10em; /* Spatiere de 1em */
        text-indent: 2em;
        margin-left: 2.5cm;
        margin-right: 2.5cm;
}
#angajat{
    text-align: right;
    margin: 2.5cm;
}
#zile{
    margin-bottom: 15em;
    margin-left: 2.5cm;
        margin-right: 2.5cm;
}
#date{
    margin-left: 2.5cm;
}
#puncte1{
    text-align: right;
    margin: 2.5cm;
}
#sef{
    text-align: right;
    margin: 2.5cm;
}
#puncte2{
    text-align: right;
    margin: 2.5cm;
}

.cover2{
    background-color: white;
    width: 30em;
    height: 41em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(100, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto 0 auto;
    width: 25cm; /* Latimea paginii A4 */
    height: 35cm; /* Inaltimea paginii A4 */
}
